.App{
  text-align: center;
}

.name-main{
  text-align: left;
  padding-left: 50px;
}
.headshot{
  display: flex;
  justify-content: center;
}
img{
  width:300px;
  height: auto;
  border-radius: 50%;
  align-items:right;
}
.description-main{
text-align: left;
padding-right: 200px;
padding-left: 5rem;
font-size: 20px;
}